<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_uwp" version="2018.4.23.1" targetFramework="native" />
  <package id="OpenCV.Win.Core" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.HighGUI" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ImgCodecs" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ImgProc" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ML" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.ObjDetect" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.Photo" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.Video" version="310.6.1" targetFramework="native" />
  <package id="OpenCV.Win.VideoIO" version="310.6.1" targetFramework="native" />
  <package id="rmt_curl" version="7.51.0" targetFramework="native" />
  <package id="rmt_libssh2" version="1.8.0.0" targetFramework="native" />
  <package id="rmt_openssl" version="1.1.0.3" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.7" targetFramework="native" />
</packages>